src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="batchJobTriggererFlow" doc:name="batchJobTriggererFlow">
		<sfdc:query-all config-ref="SalesforceA"
			doc:name="query Custom objects with filtering criteria from Salesforce Instance A"
			query="SELECT Id, Name, interpreter__c, year__c, LastModifiedDate FROM MusicAlbum__c WHERE LastModifiedDate &gt; #[groovy: new Date(System.currentTimeMillis() - 10000).format(&quot;yyyy-MM-dd'T'HH:mm:ss.SSS'Z'&quot;, TimeZone.getTimeZone('UTC'))] AND year__c &gt; 1968" />
		<batch:execute name="syncCustomObjectsBatch" doc:name="trigger syncCustomObjectsBatch" />
	</flow>
	<sub-flow name="createCustomObjectFlowA" doc:name="createCustomObjectFlowA">
		<sfdc:create config-ref="SalesforceA" type="MusicAlbum__c"
			doc:name="create CustomObject in Salesforce Instance A">
			<sfdc:objects ref="#[payload]" />
		</sfdc:create>
	</sub-flow>
	<sub-flow name="createCustomObjectFlowB" doc:name="createCustomObjectFlowB">
		<sfdc:create config-ref="SalesforceB" type="MusicAlbum__c"
			doc:name="create CustomObject in Salesforce Instance B">
			<sfdc:objects ref="#[payload]" />
		</sfdc:create>
	</sub-flow>
	<sub-flow name="retrieveCustomObjectFlow" doc:name="retrieveCustomObjectFlow">
		<sfdc:query-single config-ref="SalesforceB"
			query="SELECT Id, Name, interpreter__c FROM MusicAlbum__c WHERE Name = '#[payload['Name']]'"
			doc:name="query CustomObject in Salesforce Instance B" />
	</sub-flow>
	<sub-flow name="deleteCustomObjectFromAFlow" doc:name="deleteCustomObjectFromAFlow">
		<sfdc:delete config-ref="SalesforceA"
			doc:name="delete CustomObject from Salesforce Instance A">
			<sfdc:ids ref="#[payload]" />
		</sfdc:delete>
	</sub-flow>
	<sub-flow name="deleteCustomObjectFromBFlow" doc:name="deleteCustomObjectFromBFlow">
		<sfdc:delete config-ref="SalesforceB"
			doc:name="delete CustomObject from Salesforce Instance B">
			<sfdc:ids ref="#[payload]" />
		</sfdc:delete>
	</sub-flow>
</mule>